*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
  color: rgba(26,26,26,.9);
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
}

body {
  margin: 0;
  padding: 2rem;
}

h1 {
  line-height: 1.1;
  color: rgba(26, 26, 26, 0.9);
  box-sizing: border-box;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.03rem;
  margin: 0 0 10px;
  font-size: 36px;
}

/* Forms */

input[type='text'],
input[type='password'],
input[type='email'] {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  margin-bottom: 15px;
  overflow: visible;
  position: relative;
  width: 100%;
  padding: 8px 12px;
  color: rgba(26, 26, 26, 0.9);
  line-height: 1.5;
  border: 0;
  box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.08s ease-in, color 0.08s ease-in, filter 50000s, -webkit-filter 50000s;
  background: #fff;
  appearance: none;
  height: 36px;
  font-size: 14px;
  border-radius: 6px;
}
@media only screen and (min-width: 640px) {
  input[type='text'],
  input[type='password'],
  input[type='email'] {
    width: auto;
    min-width: 300px;
  }
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(50 151 211 / 30%), 0 1px 1px 0 rgb(0 0 0 / 7%), 0 0 0 4px rgb(50 151 211 / 30%);
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
  color: rgba(26, 26, 26, 0.7);
}

button,
input[type='submit'] {
  display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background-color: rgb(0, 116, 212);
  color: rgb(255, 255, 255);
  height: 44px;
  width: 100%;
  padding: 0 25px;
  color: #fff;
  box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%), 0 1px 1px 0 rgb(0 0 0 / 7%);
  border: 0;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease, box-shadow 0.08s ease-in;
}

button:hover,
input[type='submit']:hover {
  background-color: rgb(0, 116, 212);
  box-shadow: inset 0 0 0 1px rgb(50 50 93 / 10%), 0 6px 15px 0 rgb(50 50 93 / 20%), 0 2px 2px 0 rgb(0 0 0 / 10%);
}

@media only screen and (min-width: 640px) {
  button,
  input[type='submit'] {
    width: auto;
  }
}

/* Tables */

table {
  width: 100%;
}
@media only screen and (min-width: 640px) {
  table {
    width: auto;
    min-width: 300px;
  }
}

table th {
  padding: 5px 10px;
  font-weight: 500;
  text-align: left;
  color: rgba(26, 26, 26, 0.6);
}
table td {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid rgba(26, 26, 26, 0.1);
}

table tr th:first-of-type,
table tr td:first-of-type {
  padding-left: 0;
}
table tr th:last-of-type,
table tr td:last-of-type {
  padding-right: 0;
}