## App configuration ##

# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
SERVER_PORT=8000


## APIM configuration ##

# The name of the API Management instance, e.g apimpaymentproviderdemo
APIM_SERVICE_NAME=

# Subscription ID for the Azure subscription the API Management instance resides in 
APIM_SERVICE_AZURE_SUBSCRIPTION_ID=

# Name of the resource group the API Management instance resides in 
APIM_SERVICE_AZURE_RESOURCE_GROUP_NAME=

# The management URL for the API Management instance, e.g. https://apimpaymentproviderdemo.management.azure-api.net
APIM_MANAGEMENT_URL=

# The gateway URL for the API Management instance, e.g. https://apimpaymentproviderdemo.azure-api.net
APIM_GATEWAY_URL=

# The developer URL for the API Management instance, e.g. https://apimpaymentproviderdemo.developer.azure-api.net
APIM_DEVELOPER_PORTAL_URL=

# The built-in all-access subscription key for the API Management instance
APIM_ADMIN_SUBSCRIPTION_KEY=

# The delegation validation key for the API Management instance
APIM_DELEGATION_VALIDATION_KEY=



## Payment configuration ##

PAYMENT_PROVIDER=Stripe


## Stripe configuration ##

# Value of Stripe 'Publishable key' from Stripe standard keys
STRIPE_PUBLIC_KEY=

# Value of Stripe 'App Key' API key created as part of pre-requisites
STRIPE_API_KEY=

# Value of the signing secret for the Stripe webhook created as part of the stripeInitialisation.ps1 script
STRIPE_WEBHOOK_SECRET=


## Adyen configuration ##

# Value of Adyen API key retrieved as part of pre-requisites
ADYEN_API_KEY=

# Adyen merchant account name
ADYEN_MERCHANT_ACCOUNT=

# Value of Adyen client key retrieved as part of pre-requisites
ADYEN_CLIENT_KEY=


## Azure AD Service Principal configuration ##

# The app ID of the service principal created as part of pre-requisites
AZURE_AD_SERVICE_PRINCIPAL_APP_ID=

# The password for the service principal created as part of pre-requisites
AZURE_AD_SERVICE_PRINCIPAL_PASSWORD=

# The ID of the tenant that the service principal created as part of pre-requisites resides in
AZURE_AD_SERVICE_PRINCIPAL_TENANT_ID=
